@import url('../Default/reset.css');
@import url('../Default/common.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

:root {
  --main-background-color: #fff;
  --main-foreground-color: rgb(51, 51, 51);
  --sub-foreground-color: rgb(102, 102, 120);
  --accent-color: rgb(7, 150, 7);;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--main-foreground-color);
  background-color: var(--main-background-color);
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--sub-foreground-color);
}

.main-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: all 1s .5s;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-wrapper::-webkit-scrollbar {
  display: none;
}

.main-wrapper.main-wrapper-left {
  width: 50%;
  transition: all 1s;
}

main {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;
  transition: all 1s .5s;
  z-index: 5000;
}

/* 프로젝트 aside가 켜졌을 경우 */
main.left-half {
  width: 100%;
  opacity: 0.3;
  transition: all 1s;
  overflow: hidden;
}

aside {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--main-background-color);
  opacity: 0;
  z-index: -1000;
  transition: all 1s;
  border-left: 1px solid #d8d8d8;
}

aside::-webkit-scrollbar {
  display: none;
}

aside.on {
  transition: all 1s .5s;
  opacity: 1;
  z-index: 20000;
}

.title {
  margin-top: 1.6rem;
  padding: 20px 0;
}

.title h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
}

.title-line-2 {
  white-space: nowrap;
}

.title-vertical {
  font-size: 1.5rem;
  vertical-align: center;
  writing-mode: vertical-lr;
  transform: translateY(1px);
  color: var(--sub-foreground-color);
}

.description p {
  font-size: 1.2rem;
  color: var(--sub-foreground-color);
  line-height: 1.6;
}

/* sections */
section {
  margin: 4.5125rem 0;
}

.separator {
  position: relative;
  margin: 30px 0;
}

.separator span {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  z-index: 2;
  padding-right: .5em;
  background-color: var(--main-background-color);
}

.separator hr {
  position: absolute;
  width: 100%;
  top: 5%;
  border: none;
  border-top: 1px solid #d8d8d8;
}

.profile-card {
  display: flex;
  align-items: center;
  padding: 15px 25px;
}

.profile-img-wrapper img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0 1rem 4rem;
}

.name-wrapper {
  margin: .5em 0;
}

.name-wrapper span {
  font-size: 1.1rem;
  font-weight: 700;
}

.role-wrapper {
  margin: .5em, 0;
}

.role-wrapper span {
  color: var(--sub-foreground-color);
}

.link-wrapper {
  margin: .5em 0 .2em;
  font-size: 2rem;
}

.link-wrapper i {
  margin-right: .1em;
}

.project-list li {
  line-height: 2rem;
}

.contact-link {
  color: var(--accent-color);
}

.blank {
  height: 4.5125rem;
}

.copyright {
  color: var(--sub-foreground-color);
  text-align: center;
  margin: 4.5125rem 0;
}

aside article {
  padding: 5vw;
  color: var(--sub-foreground-color);
  line-height: 1.7;
}

aside article h1 {
  font-size: 3rem;
  line-height: 1.9;
  font-style: oblique;
}

aside .btn-back {
  position: fixed;
  top: 1%;
  left: 52%;
  font-size: 3rem;
  cursor: pointer;
  opacity: .4;
  color: var(--sub-foreground-color);
}

aside .btn-back:hover {
  transition: all .5s;
  opacity: 1;
}

/* 아이패드 미만 */
@media (max-width: 768px) {
  /* .container {
    padding-left: 5vw;
    padding-right: 5vw;
  } */

  .main-wrapper.main-wrapper-left {
    width: 100%;
  }

  main {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    transition: all 1s .5s;
    z-index: 5000;
  }

  main.left-half {
    opacity: 1;
  }

  .title h1 {
    font-size: 3.5rem;
  }

  .title-line-2 {
    display: block;
    margin-left: 4px;
  }

  .title-vertical {
    font-size: 1.05rem;
  }

  section {
    margin: 4rem 0;
  }

  .profile-description-wrapper {
    padding: 1rem 0 1rem 3rem;
  }

  .profile-img-wrapper img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  aside {
    max-width: 100%;
  }

  aside.on {
    opacity: 1;
    z-index: 20000;
  }

  aside .btn-back {
    position: fixed;
    top: 1%;
    left: 5%;
    font-size: 3rem;
    cursor: pointer;
    opacity: .4;
    color: var(--sub-foreground-color);
  }
}