@import url('../Default/reset.css');
@import url('../Default/common.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

:root {
  --main-background-color: #fff;
  --main-foreground-color: rgb(51, 51, 51);
  --sub-foreground-color: rgb(102, 102, 120);
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--main-foreground-color);
  background-color: var(--main-background-color);
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.title {
  margin-top: 4vh;
  padding: 20px 0;
}

.title h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
}

.title h1 span {
  font-size: 2rem;
  vertical-align: top;
}

.description p {
  font-size: 1.2rem;
  color: var(--sub-foreground-color);
  line-height: 1.6;
}

/* sections */
section {
  margin: 10vh 0;
}

.separator {
  position: relative;
  margin: 30px 0;
}

.separator span {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  z-index: 2;
  padding-right: 1em;
  background-color: var(--main-background-color);
}

.separator hr {
  position: absolute;
  width: 100%;
  top: 5%;
  border: none;
  border-top: 1px solid #d8d8d8;
}

.profile-card {
  display: flex;
  align-items: center;
  padding: 15px 25px;
}

.profile-img-wrapper img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0 1rem 4rem;
}

.name-wrapper {
  margin: .5em 0;
}

.name-wrapper span {
  font-size: 1.1rem;
  font-weight: 700;
}

.role-wrapper {
  margin: .5em, 0;
}

.role-wrapper span {
  color: var(--sub-foreground-color);
}

.link-wrapper {
  margin: .5em 0 .2em;
  font-size: 2rem;
}

.link-wrapper i {
  margin-right: .1em;
}

.contact-link {
  text-decoration: none;
  color: rgb(7, 150, 7);
}

.blank {
  height: 10vh;
}

.copyright {
  color: var(--sub-foreground-color);
  text-align: center;
  margin: 10vh 0;
}

@media (max-width: 480px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .title h1 {
    font-size: 3.5rem;
  }

  section {
    margin: 8vh 0;
  }

  .profile-img-wrapper img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}