<i class="fas fa-long-arrow-alt-left btn-back"></i>
<article>
  <h1>10000bo</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repudiandae perspiciatis exercitationem
    eligendi. Tenetur voluptates facilis rem dolore maiores. Nisi veniam iste corrupti similique harum voluptatum,
    eos odit, consequatur voluptate aut deserunt itaque nam nulla voluptatibus minus perferendis vel consectetur
    quod asperiores alias ex sapiente porro? Nisi, sapiente. Nisi, consectetur. Beatae repudiandae optio similique,
    itaque repellendus amet illo facere eius iste sit commodi incidunt voluptatibus tenetur ea atque quasi, corrupti
    doloremque alias laudantium quas iusto quisquam corporis sapiente. Ipsa laudantium odit minima dolores, fugit
    repudiandae reiciendis quasi ex assumenda earum velit. Ex voluptatum aspernatur illum voluptatibus laboriosam
    est possimus illo.</p>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laboriosam, illum sed placeat numquam
    soluta itaque obcaecati facere excepturi nisi dolorem deleniti voluptatem eaque eius asperiores? Impedit tenetur
    deserunt similique temporibus autem perferendis? Distinctio, debitis. Animi, nulla laborum illum beatae
    asperiores minus rerum labore expedita hic consectetur obcaecati officiis, suscipit maxime accusamus mollitia
    est explicabo. Autem omnis corporis provident. Possimus magni neque quam doloribus doloremque aut ab. Ea, quae
    temporibus obcaecati architecto numquam aliquid totam quod illo suscipit sed sapiente, esse ipsum deserunt porro
    officiis eveniet provident dicta assumenda doloremque. Atque omnis tempora cumque fuga rem deserunt. Earum,
    voluptatum dicta.</p>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laboriosam, illum sed placeat numquam
    soluta itaque obcaecati facere excepturi nisi dolorem deleniti voluptatem eaque eius asperiores? Impedit tenetur
    deserunt similique temporibus autem perferendis? Distinctio, debitis. Animi, nulla laborum illum beatae
    asperiores minus rerum labore expedita hic consectetur obcaecati officiis, suscipit maxime accusamus mollitia
    est explicabo. Autem omnis corporis provident. Possimus magni neque quam doloribus doloremque aut ab. Ea, quae
    temporibus obcaecati architecto numquam aliquid totam quod illo suscipit sed sapiente, esse ipsum deserunt porro
    officiis eveniet provident dicta assumenda doloremque. Atque omnis tempora cumque fuga rem deserunt. Earum,
    voluptatum dicta.</p>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laboriosam, illum sed placeat numquam
    soluta itaque obcaecati facere excepturi nisi dolorem deleniti voluptatem eaque eius asperiores? Impedit tenetur
    deserunt similique temporibus autem perferendis? Distinctio, debitis. Animi, nulla laborum illum beatae
    asperiores minus rerum labore expedita hic consectetur obcaecati officiis, suscipit maxime accusamus mollitia
    est explicabo. Autem omnis corporis provident. Possimus magni neque quam doloribus doloremque aut ab. Ea, quae
    temporibus obcaecati architecto numquam aliquid totam quod illo suscipit sed sapiente, esse ipsum deserunt porro
    officiis eveniet provident dicta assumenda doloremque. Atque omnis tempora cumque fuga rem deserunt. Earum,
    voluptatum dicta.</p>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laboriosam, illum sed placeat numquam
    soluta itaque obcaecati facere excepturi nisi dolorem deleniti voluptatem eaque eius asperiores? Impedit tenetur
    deserunt similique temporibus autem perferendis? Distinctio, debitis. Animi, nulla laborum illum beatae
    asperiores minus rerum labore expedita hic consectetur obcaecati officiis, suscipit maxime accusamus mollitia
    est explicabo. Autem omnis corporis provident. Possimus magni neque quam doloribus doloremque aut ab. Ea, quae
    temporibus obcaecati architecto numquam aliquid totam quod illo suscipit sed sapiente, esse ipsum deserunt porro
    officiis eveniet provident dicta assumenda doloremque. Atque omnis tempora cumque fuga rem deserunt. Earum,
    voluptatum dicta.</p>
  <br>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde architecto cum veritatis quisquam mollitia,
    earum eaque sit quod nemo reiciendis, libero vel pariatur ipsa ratione reprehenderit aut, dicta voluptatem eius.
    Doloremque cupiditate iste voluptate corrupti aspernatur, culpa reiciendis magnam expedita ad ut dignissimos
    quos optio vel omnis placeat. Delectus, non? Deserunt consectetur vitae qui minima eveniet, illum pariatur
    tenetur, provident eligendi dolorum vero dolores nobis tempora exercitationem mollitia numquam, unde sequi!
    Atque optio dolore obcaecati perferendis dignissimos debitis quibusdam at temporibus hic rem soluta molestiae
    vitae ipsum, ab omnis impedit. Provident aperiam nobis quaerat modi culpa saepe nesciunt, excepturi cum?</p>
  <br>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sed consequatur ex. Nesciunt excepturi nihil
    mollitia omnis et, ducimus consectetur deserunt ab quidem iure esse molestias natus corporis voluptatum! Modi
    est ratione dolor quidem quae consequatur distinctio ipsa optio rerum quasi sequi iusto assumenda autem, maxime
    ducimus tenetur enim placeat vel repellendus odio cum! Quisquam enim dolorum molestias qui culpa ab deserunt et,
    magni eos doloribus officia sapiente tempore repellat tenetur officiis? Recusandae deleniti nobis repudiandae.
    Sunt exercitationem ab blanditiis nulla explicabo sed minima eius fuga ipsam, nostrum veritatis rerum in
    doloremque excepturi nam possimus aliquam corrupti omnis iure illum.
  </p>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laboriosam, illum sed placeat numquam
    soluta itaque obcaecati facere excepturi nisi dolorem deleniti voluptatem eaque eius asperiores? Impedit tenetur
    deserunt similique temporibus autem perferendis? Distinctio, debitis. Animi, nulla laborum illum beatae
    asperiores minus rerum labore expedita hic consectetur obcaecati officiis, suscipit maxime accusamus mollitia
    est explicabo. Autem omnis corporis provident. Possimus magni neque quam doloribus doloremque aut ab. Ea, quae
    temporibus obcaecati architecto numquam aliquid totam quod illo suscipit sed sapiente, esse ipsum deserunt porro
    officiis eveniet provident dicta assumenda doloremque. Atque omnis tempora cumque fuga rem deserunt. Earum,
    voluptatum dicta.</p>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laboriosam, illum sed placeat numquam
    soluta itaque obcaecati facere excepturi nisi dolorem deleniti voluptatem eaque eius asperiores? Impedit tenetur
    deserunt similique temporibus autem perferendis? Distinctio, debitis. Animi, nulla laborum illum beatae
    asperiores minus rerum labore expedita hic consectetur obcaecati officiis, suscipit maxime accusamus mollitia
    est explicabo. Autem omnis corporis provident. Possimus magni neque quam doloribus doloremque aut ab. Ea, quae
    temporibus obcaecati architecto numquam aliquid totam quod illo suscipit sed sapiente, esse ipsum deserunt porro
    officiis eveniet provident dicta assumenda doloremque. Atque omnis tempora cumque fuga rem deserunt. Earum,
    voluptatum dicta.</p>
</article>